{% comment %}New initial code template{% endcomment %}
{% block env %}{% endblock env %}

{% block start %}
def backspace_apply(val: str) -> str:
    # your code here
    return val
{% endblock start %}

{% block example %}
print('Example:')
print(backspace_apply("thna#m##e"))
{% endblock %}

{% block tests %}
{% for t in tests %}
assert {% block call %}backspace_apply({{t.input.0|p}})
{% endblock %} == {% block result %}{{t.answer|p}}{% endblock %}{% endfor %}
{% endblock %}

{% block final %}
print("Not bad! Click 'Check' to earn cool rewards!")
{% endblock final %}
